[2018-05-31 23:02] gautamkmr opened #49 "run_test.sh doesnt exist in pytorch-0.4, need to change the below line."
https://github.com/pytorch/builder/blob/0f6af9a0b2a4a50dee4b5a8629fd1640a5939591/wheel/build_wheel.sh#L106

[2018-06-01 00:48] soumith commented on #49
fixed via https://github.com/pytorch/builder/commit/ec084f65de25c228459151d65390070adfb67b42

[2018-06-01 00:48] #49 closed

[2018-10-18 21:50] scott-vsi opened #179 "run_tests.sh cannot be found"
When building a manylinux wheel from the manywheel folder, run_tests.sh cannot be found by [build_common.sh](https://github.com/pytorch/builder/blob/ceaacf8a927f84f5458808a41af456958d72abd7/manywheel/build_common.sh#L337)

It is necessary to mount the root of the repo into the container (`-v "$(dirname "${PWD}")":/remote`) and adjust the call to build.sh accordingly.

[2018-11-01 20:47] bhack opened #184 "Pytorch nigihtly not updated"
Last nightly in coda-forge was 3 days old.

[2018-11-01 20:50] bhack opened #185 "Nightly with debug symbols"
Can we add a nightly build with enabled debug symbols?

Check https://github.com/pytorch/pytorch/issues/12448#issuecomment-431458808

[2018-11-01 21:00] soumith commented on #185
@bhack we gave the reasons already on why we cant add a nightly with debug symbols enabled, in the original thread.

The binary size makes this untenable.

[2018-11-01 21:00] #185 closed

[2018-11-01 21:00] soumith commented on #184
we dont use conda-forge. If you want nightly, use the nightly from our website https://pytorch.org under the label "Preview"

[2018-11-01 21:02] bhack commented on #185
Is too big also only for the host code debug symbols?

[2018-11-01 21:47] bhack commented on #184
@soumith Sorry for the typo I meant conda: https://anaconda.org/pytorch/pytorch-nightly/files
and the last one is  3 days and 8 hours ago

[2018-11-01 21:50] soumith commented on #184
thanks. in that case, we're looking into this now.

[2018-11-04 02:29] hadim opened #190 "Package in conda-forge?"
Any chance to get the conda recipes you have here moved to conda-forge?

That would allow creating conda-forge packages that depend on pytorch 1.0 or greater.

I can make a PR from the recipes you have in [conda/](./conda)  if you want.

[2018-11-04 02:40] hadim commented on #190
I guess that would be important to have a conda-forge Cuda package first: https://github.com/conda-forge/staged-recipes/pull/6240

But you could still create the recipe now for pytorch-cpu and enable the GPU build when this cuda PR is merged.

[2018-11-04 03:08] hadim commented on #190
As for the differents Cuda version build, the new build variants of conda 3.0 could be used: https://conda.io/docs/user-guide/tasks/build-packages/variants.html.

One recipe will be sufficient to build all the different packages.

[2018-11-06 16:11] hadim commented on #190
That would also allow building pytorch with a CentOS6 glibc version (often default on universities cluster unfortunately...).

Ping @pjh5

[2018-11-06 16:53] soumith commented on #190
we dont expect to be in conda-forge for some time for various reasons:

- one is staffing, we are quite low-staffed on the builds right now, and cannot maintain SLAs for conda-forge changes that might be needed
- the second is that our builds take several hours on 40-core powerful servers, they take 3x more time on Azure pipelines and Travis machines (we build the binaries for 7 CUDA architectures

[2018-11-06 16:53] #190 closed

[2018-11-13 05:06] bhack opened #203 "Conda nightly gcc>=5"
Is it possbile to have a pytorch-nightly conda package with `gcc>=5` or at least with `-D_GLIBCXX_USE_CXX11_ABI=1`.
Currently the default is 0 and it is creating dual ABI problem when linking with `gcc>=5` apps and libraries that don't use `-D_GLIBCXX_USE_CXX11_ABI=0` explicitly.

[2018-11-13 23:20] bhack commented on #203
/cc @goldsborough

[2018-11-14 03:50] bhack commented on #203
So also in this type of build https://github.com/pytorch/pytorch/blob/master/docker/pytorch/Dockerfile#L1 you are using:
[code]
Instead in the builder you are building on https://github.com/pytorch/builder/blob/master/conda/Dockerfile#L1
[code]
Are we in the middle of [dual ABI](https://docs.computecanada.ca/wiki/GCC_C%2B%2B_Dual_ABI) issue with the two builds?

[2018-11-14 04:41] bhack commented on #203
/cc @soumith

[2018-11-14 04:45] soumith commented on #203
I read all github notifications, so I saw this.
We can think of doing this after PT1 stable release. The constraints we have on doing this are a bit stupid, like how much `conda` storage free space we have, but we can definitely execute on this with low pri

[2018-11-14 04:51] bhack commented on #203
In the meantime is there a quick way to build a conda package from https://github.com/pytorch/pytorch/blob/master/docker/pytorch/Dockerfile?

[2018-11-14 05:06] bhack commented on #203
I see also that the Docker nightly is not updated anymore https://hub.docker.com/r/pytorch/pytorch/tags/. I we have a valid package there we could be useful as workaround using multistage builds from there.

[2019-02-11 15:54] cpbotha opened #270 "pytorch-cpu 1.0.1 on win64 depends on cudatoolkit=None, which can't be satisfied"
When I try to install pytorch-cpu 1.0.1 on this Win64 image, I run into the following issue:

[code]

It looks like this package depends on the presence of the cudatoolkit package with version "None" which is of course tricky to satisfy.

[2019-02-11 15:58] cpbotha commented on #270
Looking at this recent (7 days ago) commit: https://github.com/pytorch/builder/commit/ca2c9a2fe2ea241cd99a9ef7566796db9e111542 -- it does look like this behaviour is already fixed.

Is it possible to have new official pytorch-cpu 1.0.1 packages generated by this fixed builder script?

[2019-02-12 05:53] soumith commented on #270
the new packages with this issue fixed, have been uploaded already.
Can you clear your pypi / anaconda cache and install pytorch-cpu again?

[2019-02-12 07:18] cpbotha commented on #270
It doesn't look like these packages have (yet?) ended up on the pytorch channel on anaconda.org.

I did `conda clean -y --all` and then tried again: same problem.

Just to be sure, I did `conda clean -y -i` and tried again: same problem.

I can see that the json files in `miniconda3/pkgs/cache` have been refreshed.

Conda gives me the following search results:

[code]

When I dig into the py3.6 ve

[2019-02-12 07:29] soumith commented on #270
okay, it looks like @peterjc123 missed building the new packages with this fix.
@peterjc123 can you rebuild the cpu packages with this fix, and I'll upload them to anaconda?

[2019-02-15 13:58] cpbotha commented on #270
Hi there folks, it looks like the pytorch-cpu 1.0.1 builds on anaconda.org have not yet been updated.

Could you give this another look?

[2019-02-15 14:08] peterjc123 commented on #270
@soumith

[2019-02-16 04:36] soumith commented on #270
Hi Charl, sorry for the delay. I just uploaded them now.

[2019-02-18 07:45] cpbotha commented on #270
Thank you very much all, the new builds are working perfectly!

[2019-02-18 07:45] #270 closed

[2019-03-08 12:48] faroit opened #279 "add conda recipe for torchaudio"
there are many issues with users having difficulties building torchaudio extension. Maybe it would be good to provide conda builds?

I could create a recipe if that would be helpful.

[2019-03-08 19:25] ezyang commented on #279
This is a good idea. @pjh5 is unfortunately away at the moment; I'm not sure what the most useful contribution we could make here is.

[2019-03-10 22:49] soumith commented on #279
this seems reasonable to do. I have been doing some pre-work for this by adding `lame` support for `sox` in conda-forge: https://github.com/conda-forge/sox-feedstock/pull/18

We need to setup `torchaudio` with Azure pipelines to auto-build and auto-upload torchaudio packages as well, and then we'll be golden.

cc: @kostmo @pjh5 if you guys have any instructions on how one can setup a new repo with

[2019-03-14 04:25] peterjc123 commented on #279
@soumith It's easy to use. Just write the yaml config file and it will work. Here is the document for this: https://docs.microsoft.com/zh-cn/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema. And here is our example: https://github.com/pytorch/builder/blob/master/windows/azure-pipelines.yml.

[2019-05-03 14:15] faroit commented on #279
is there some progress on this? I think the number of issues related to users having problems to install sox are getting way too many ;-)

[2019-05-09 12:54] bhack commented on #203
Any news about `CXX11_ABI`?

[2019-07-22 17:13] pjh5 commented on #203
This is tracked in https://github.com/pytorch/pytorch/pull/20652 and associated issue

[2019-07-31 17:56] ezyang opened #331 "Stop using pjh5's credentials to upload to Anaconda"
We should setup some role account and use that for uploads.

[2019-08-14 14:05] ezyang opened #341 "Stop hardcoding macos version for libtorch wheel builds"
I don't want to have to issue commits like this:

[code]

[2019-09-09 18:45] soumith opened #346 "magma + devtoolset7 bumps binary sizes by unreasonable amounts"
In the last base library upgrades, our manylinux nightlies had bumped up in binary size significantly, for what seemed to be no reason at all. Conda were doing fine.

It was really puzzling, and I dug into many dimensions as to why this regression happened.

I concluded the fix to be to compile magma with devtoolset3, whereas the larger pytorch builds were upgraded to devtoolset7.

magma[devtoolse

[2019-09-13 11:51] pietern opened #348 "CMAKE_ARGS no longer used"
This is used in `conda/build_pytorch.sh` and it looks like this is no longer used in PyTorch build.

[2019-09-13 13:58] ezyang commented on #348
cc @xuhdev but yes that sounds plausible

[2019-09-13 17:23] xuhdev commented on #348
Also sounds plausible to me

[2019-11-08 06:22] soumith commented on #346
https://github.com/pytorch/builder/commit/dd7edfdf40e7eb75f0d561512e31b31c8319d9c9 seems to also fix the binary size issue :)

[2019-11-08 06:22] #346 closed

[2019-11-08 06:23] soumith commented on #279
https://github.com/pytorch/audio/tree/master/packaging

[2019-11-08 06:23] #279 closed

[2019-12-03 16:21] soumith opened #388 "add perplexity / convergence checks for word_language_model integration tests"
We have integration tests that we run before every release, for end-to-end workflows.

Ref: http://ossci-integration-test-results.s3-website-us-east-1.amazonaws.com/test-results.html
Scripts are located here: https://github.com/pytorch/builder/tree/master/test_community_repos

There are some things to be fixed in these tests.

In this issue, we want to fix the word_language_model example: https://

[2019-12-05 18:09] saareliad opened #389 "cudnn with conda"
Hi,
I'm trying to use the script to build a pytorch from source (with some mpi lib)
then upload it as anaconda package for easy use.
(I tried doing first it with .whl, however it was >60MB so too big for pypi. so I'm now trying to do it with conda and your script).

I've noticed that instead of using a container form nvidia with cudnn installed, [(e.g this)](https://gitlab.com/nvidia/container-ima

[2020-03-05 01:21] soumith commented on #389
because we want to pin to specific cudnn versions and only bump the cudnn versions when we validate them.

[2020-03-28 13:47] yoshihingis opened #426 "Can I build libtorch Dlls,Libs from Souce by build_libtorch.bat without CAFFE2?"
This is Question , not bug report.

I want to build the Dlls and the Libs for the libtorch Ver1.4 from source codes.
I could got  libtorch-win-shared-with-deps-1.4.0.zip by build_pytorch.bat at builder/windows.
But I don't need  CAFFE2.
Is there way to build libtorch's Dlls and Libs without CAFFE2?

[Environment]
Windows 10 Pro 64 bit build 1909
Microsoft Visual studio17 Community
CPU: Core-i5 467

[2020-03-28 15:57] peterjc123 opened #427 "Cleanup nested gotos in Windows build scripts"
According to https://stackoverflow.com/questions/8481558/windows-batch-goto-within-if-block-behaves-very-strangely, gotos should be not used in a nested if block. It causes sth weird in https://dev.azure.com/pytorch/PyTorch/_build/results?buildId=18595&view=results.

[2020-04-02 12:16] UlrichFreitag opened #431 "Install git 2.16+ instead of 1.8.3.1 to avoid some bugs with 1.4.0"
I had this issue https://github.com/pytorch/pytorch/issues/35149 when using the docker image of `pytorch/builder` (`pytorch/manylinux-cuda102`) when building a manywheel fork of LMS (https://github.com/pytorch/pytorch/issues/35633).

It seems that the issue is only appearing when using git 1.8.3.1. When installing git 2.16 it works just fine:

[code]

Maybe git 2.16 should be installed by default?

[2020-04-07 11:55] #427 closed

[2020-07-21 15:06] Queuecumber opened #468 "PyPI Packaging for C++ Extension"
I have developed a C++ pytorch extension that I want to deploy on PyPI.

It currently isn't possible to build a manylinux compatible wheel if it depends on pytorch using the semi-official instructions (https://github.com/pypa/manylinux) because pytorch depends on a newer glibc version than manylinux allows (or at least that's the problem I ran into first).

Since the pytorch wheels work well and a

[2020-07-21 15:51] soumith commented on #468
this is what we do, instead of using `auditwheel`: https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L231-L323

- we unzip the wheel
- we copy over the dependencies
- we patch the RPATH for these dependencies
- we generated a new RECORD file in the wheel with the new files + hashes
- we zip back the wheel

[2020-07-21 16:03] Queuecumber commented on #468
I actually have something that almost works using multilinux2014 but the annoying thing is that auditwheel keeps trying to add all of the pytorch libraries into my wheel, which I think is not necessary since pytorch should be pip installed by anyone using my library

[2020-07-21 18:22] Queuecumber commented on #468
So what I ended up doing was using the manylinux2014 docker image (quay.io/pypa/manylinux2014_x86_64) and statically linking my only C dependency besides pytorch. This seems to be working since the manylinux2014 image has pretty wide glibc compatibility and also works with pytorch. The static linking trick may not work for everyone, if the project has a lot of dependencies then it may not be pract

[2020-08-30 18:40] danieldk opened #504 "Update to recent MKL version and Zen performance"
This is a follow-up to my comments in #460, but I thought it would be better to make an issue out of this rather adding more comments to a merged pull request ;).

The question in short: `MKL_DEBUG_CPU_TYPE` cannot be used anymore in recent BLAS versions. Is it still possible to use AVX2-optimized kernels on AMD Zen CPUs?

I did some more investigation. The good news is that apparently Intel is in

[2020-09-01 00:50] malfet commented on #504
Can you please run the speed comparison between MKL 2020.0 (last version that still supports MKL_DEBUG_CPU_TYPE) and 2020.3, which should have some perf regression fixed? (see https://software.intel.com/content/www/us/en/develop/articles/intel-math-kernel-library-release-notes-and-new-features.html )

[2020-09-01 05:02] danieldk commented on #504
The latest version I see there is still 2020 update 2?

[2020-09-03 13:45] danieldk commented on #504
It's available for me now as well. First of all, `MKL_DEBUG_CPU_TYPE` still does not work.

`[sd]gemm` performance on 2020.3 (same programs as above), best of three runs:

[code]

[code]

Now while overriding `mkl_serv_intel_cpu_true` to always detect an Intel GPU, which results in using AVX2 code paths on the Ryzen 3700X:

[code]

[code]

---

Summary:

* `MKL_DEBUG_CPU_TYPE` seems to be permanen

[2020-09-07 03:49] nelson-liu opened #510 "Where are Python 3.8 manywheel binaries built for nightlies?"
Hi!

Thanks for making this repo public, it's very helpful. I've noticed that PyTorch is pushing pip manywheel nightlies for python 3.8, but it seems like 3.8 is missing from the configuration in `cron/` (e.g., 3.8 isn't defined here https://github.com/pytorch/builder/blob/master/cron/build_multiple.sh#L55 , among other places)

Am I missing something, or is the cron configuration to build 3.8 pip

[2020-09-08 18:45] soumith commented on #510
the cron folder is a bit outdated. now the binaries are triggered by CircleCI in this folder: https://github.com/pytorch/pytorch/tree/master/.circleci

Here's 3.8 spec: https://github.com/pytorch/pytorch/blob/master/.circleci/cimodel/data/binary_build_data.py#L36 and https://github.com/pytorch/pytorch/blob/master/.circleci/cimodel/data/dimensions.py#L14

Sorry, that folder is a bit over-engineered

[2020-09-08 18:45] #510 closed

[2020-09-17 23:12] scopatz opened #522 "Where are the windows CUDA builds?"
I see that windows is only built with CPU only on CI and the nightly crons don't build windows at all. I am curious where the windows release builds come from.

[2020-09-18 03:00] soumith commented on #522
@peterjc123 would know.

[2020-09-18 07:36] peterjc123 commented on #522
Are you referring to the binary jobs? Actually, they are defined in pytorch/pytorch. A recent build can be seen here. https://app.circleci.com/pipelines/github/pytorch/pytorch/215758/workflows/a7cec706-e5fb-4487-a154-a2250e72badc

[2020-09-18 07:42] peterjc123 commented on #522
The config script of the jobs is located at
https://github.com/pytorch/pytorch/blob/master/.circleci/cimodel/data/binary_build_data.py

[2020-09-18 20:51] scopatz commented on #522
Ahh OK, cool thanks. I'll look there.

[2020-09-18 20:53] scopatz commented on #522
I am really looking for where the Windows machine gets configured to see how it is done. It looks like it might be at https://github.com/pytorch/pytorch/blob/master/.circleci/config.yml#L26

[2020-09-18 22:37] walterddr commented on #522
yes the config.yml is the one-stop file, but it is generated based on the files in https://github.com/pytorch/pytorch/blob/master/.circleci/verbatim-sources

[2020-09-22 16:03] #504 closed

[2020-09-24 14:46] alanhdu opened #530 "[conda] Should ninja be a runtime dependency?"
Right now, if you `conda install -c pytorch pytorch`, you also pull in `ninja` as a run-time dependency. I don't think this should be the case though -- Ninja is a build tool, so shouldn't it just be a build-time dependency?

I believe we can fix this by removing `ninja` from the run dependencies:

https://github.com/pytorch/builder/blob/bb24ca1110ce2d09700bfa29b8840535cb7d66e9/conda/pytorch-night

[2020-09-24 15:58] scopatz commented on #530
Yeah, I agree. Ninja should not be a runtime dep

[2020-09-25 18:48] walterddr commented on #522
closing this one. please feel free to reopen or use https://discuss.pytorch.org/ for general questions

[2020-09-25 18:48] #522 closed

[2020-10-09 16:11] chrisantonellis opened #546 "`torch_stable.html` wheel index is not PEP 503 compliant"
the `torch_stable.html` index of wheels does not match the spec for a "simple index"

https://download.pytorch.org/whl/cu100/torch_stable.html

I propose modifying the html generation script here (https://github.com/pytorch/builder/blob/master/cron/update_s3_htmls.sh) to output a `/simple` directory with the correct file structure structure is generated in addition to the top level `torch_stable.h

[2020-10-09 16:12] chrisantonellis commented on #546
I would be happy to contribute to this issue as part of hacktoberfest! can someone add the 'hacktoberfest' label so I can get credit? Thank you!

[2020-10-10 02:24] soumith commented on #546
cc: @seemethere

[2020-10-11 23:03] jayenashar opened #549 "magma-cuda102 missing from soumith channel"
I'm trying to build a version of pytorch for CUDA 10.2 and I normally use `build_multiple.sh` but it's not working this time.

I see 10.0 and 10.1: https://anaconda.org/search?q=magma-cuda10

Building for https://github.com/pytorch/pytorch/issues/30532#issuecomment-706715333

[2020-10-11 23:12] jayenashar commented on #549
workaround:

[code]

[2020-10-12 01:19] jayenashar commented on #549
:(  somehow that made things worse:

[code]

[2020-10-12 12:31] UlrichFreitag opened #550 "Add support of CUDA 11.1 with soumith/manylinux-cuda111 and magma-cuda111"
Hello,

To support RTX 3090 and 3080, it can be useful to be able to build PyTorch with CuDNN 8.0.4, CUDA 11.1 and the support of `-gencode arch=compute_86,code=sm_86`.

Best regards,

[2020-10-21 22:24] chrisantonellis commented on #546
@soumith @seemethere any interest in my working on this? Thank You!

[2020-10-21 22:28] seemethere commented on #546
Yup that'd be awesome!

[2020-10-21 23:48] chrisantonellis commented on #546
on it !

[2020-10-31 22:33] erip opened #563 "Add builder for fairseq"
It seems like torchvision's recipe is handled here, so I thought I might add a feature request to also handle fairseq here. Like torchvision, it should be a relatively light lift and would be happy to help if there's some guidance.

Context [here](https://github.com/pytorch/fairseq/issues/1717).

[2020-11-05 21:54] seemethere commented on #563
I'd say we should probably handle this similarly to how we handle domain APIs where the actual recipe for conda lives within the domain repository itself.

See:
* https://github.com/pytorch/vision/tree/master/packaging
* https://github.com/pytorch/audio/tree/master/packaging
* https://github.com/pytorch/text/tree/master/packaging

[2020-11-06 12:39] erip commented on #563
Thanks for the response, @seemethere. I haven't dug deep into the other repos, but is publishing their responsibility through CI/CD or do they just provide the scripts for the builder repo to run?

[2020-11-11 22:36] rezanazari opened #573 "building libtorch inside docker"
I am wondering if there is any docker image that can be used for building standard libtorch binaries. I am using nvidia/cuda:10.2-cudnn8-devel-centos7 with gcc7.4, but the performance of my build is much slower compared to the prebuilt libtorch.

Also, when using the static links,

export TH_BINARY_BUILD=1
export USE_STATIC_CUDNN=1
export USE_STATIC_NCCL=1
export ATEN_STATIC_CUDA=1
export USE_CUDA

[2020-11-14 18:20] UlrichFreitag commented on #549
It seems to be present now: https://anaconda.org/pytorch/magma-cuda102

[2020-11-14 18:22] UlrichFreitag commented on #550
Closing. This have been fixed in #579, #578, #577 and #576.

[2020-11-14 18:22] #550 closed

[2020-11-14 20:27] jayenashar commented on #549
that's the pytorch channel.  this repo points to @soumith's channel

[2020-11-15 00:20] soumith commented on #549
@jayenashar it used to a long time ago, but the scripts now don't. you should be using the `pytorch` conda channel.

[2020-11-15 01:07] jayenashar commented on #549
https://github.com/pytorch/builder/blob/master/conda/build_pytorch.sh#L82 says `soumith` and when i change it to `pytorch` (https://github.com/pytorch/builder/issues/549#issuecomment-706782868 ), it does build, but cuda is still missing (https://github.com/pytorch/builder/issues/549#issuecomment-706805425 )

[2020-12-05 00:34] rezanazari opened #605 "Updating the Documentations"
I was following documents to generate libtorch binaries, but the documents in manywheel, cron, etc are too old. I am wondering how to build libtorch1.7.0? Is there any update documentations available?

[2020-12-05 00:49] rezanazari commented on #573
I figured out the the performance degradation is not due to using static links. The issue that I observe now is that taking backward of the jacobian in super fast on P100 (~20 seconds in my test program), but in V100, it takes much longer (~300 seconds).  These times are ~40 seconds in prebuild pytorch which are reasonable.

I appreciate if someone can provide instructions on how the libtorch bina

[2021-03-01 07:45] mattip opened #670 "Target manylinux_2_24 for wheels"
The new manylinux_2_24 standard, based on debian9 and glibc2.24, could enable #520 and solve pytorch/pytorch#51039. It would require a new [Dockerfile](https://github.com/pytorch/builder/blob/master/manywheel/Dockerfile), changing all the `yum` installation calls to `apt`, and changing the PATCHELF parts of the build.

[2021-03-14 10:42] danieldk commented on #504
Update: oneMKL 2021.1 does have a Zen SGEMM kernel now.

![Screenshot from 2021-03-14 11-34-51](https://user-images.githubusercontent.com/49398/111065449-0786f280-84ba-11eb-9c3e-19509c580f41.png)

Unfortunately, on a 3700X, the kernel is still slower than the AVX2 kernel (best of three runs):

### AVX2 kernel

[code]

### Zen kernel

[code]

[2021-03-17 17:11] nSircombe opened #679 "BLAS library build for AArch64 wheels"
There are a number of issues with the current AArch64 whl build in [https://github.com/pytorch/builder/blob/master/build_aarch64_wheel.py](build_aarch64_wheel.py) which appear to be impacting the performance of the finished whl.

1. OpenBLAS has not been built with `USE_OPENMP=1`.
The finished PyTorch build is not using a multithreaded BLAS backend as a result. This impacts performance, and result

[2021-03-17 17:13] nSircombe commented on #679
Note, some other issues identified with the 1.8 wheels for AArch64:
- https://github.com/pytorch/pytorch/issues/53597
- https://github.com/pytorch/pytorch/issues/54104

[2021-03-30 08:47] docularxu commented on #679
Hi, @nSircombe  Sorry if I'm asking a naive question. May I know why you build OpenBLAS for a TARGET for 'neoverseN1'? As you noticed, 'neoverseN1' is a very specialized Arm64 core. In OpenBLAS, for a balance between general and performance, maybe you can consider `TARGET=CORTEXA72` , which corresponds to ` -march=armv8-a -mtune=cortex-a72`.

This file [1] from OpenBLAS can explain what you descri

[2021-03-30 20:01] nSircombe commented on #679
Hi @docularxu,

Simply because I'm only intending to use my builds on N1 hardware.

As it stands the current default is a bit jumbled though - `build_aarch64_wheel.py` doesn't explicitly set a target, so its left unto OpenBLAS to decide what to build for. If this script is run on t6g (a Neoverse-N1 based SoC) then OpenBLAS will identify it as such and set: `-mtune=neoverse-n1 -march=armv8.2-a`, fo

[2021-04-02 17:13] soumith opened #687 "PyTorch 1.8.1 on conda is 1.27GB"
Considering that on conda, we are linking with the conda-provided toolkit and the conda-provided MKL, it seems like there's a bug somewhere that our pytorch binaries on conda are so large.
please check.

[2021-04-04 14:11] ekerazha commented on #504
Is oneMKL 2021.1 Zen kernel faster than OpenBLAS on your 3700X?

[2021-04-05 20:31] orionr commented on #687
cc @malfet and @seemethere

[2021-04-05 21:41] malfet commented on #687
I wonder if this is because compatible cudnn
 for `cuda-toolkit=11.1` is not available in neither conda-forge nor in conda

[2021-04-05 21:49] soumith commented on #687
in that case, if we are linking to system CuDNN, it has to be pruned first I guess.

[2021-04-05 21:56] malfet commented on #687
@soumith we can prune CuDNN for 11.1, as it results in unusable library, see following comment, which reproduces the problem with CuBLAS, but CuDNN is similarly affected: https://github.com/pytorch/pytorch/issues/53336#issuecomment-791849506

[2021-04-06 13:56] AGSaidi commented on #679
I agree that having a wheel specifically targeted an N1 is ideal. For other users a generic v8.0 wheel could be created so it would work on Raspberry PIs and other platforms. @nSircombe can you  check what performance difference you find?

[2021-04-07 08:42] nSircombe commented on #679
Hi @AGSaidi,

I'll take a look and report back.

When it comes to performance though - I think the missing `USE_OPENMP=1` build flag is going to be much more significant. I've always built PyTorch linked against a multithreaded BLAS library without issue, and it would make sense for the builder script to do this too I believe, irrespective of the performance & portability implications of the vario

[2021-04-22 19:10] pbelevich opened #704 "Build PyTorch >=1.9 with OpenSSL 1.1.1 headers on Linux"
To release [PyTorch with TLS_TCP Gloo transport](https://github.com/pytorch/pytorch/pull/56442) which is dynamically loaded during runtime we need to build PT with OpenSSL 1.1.1 headers available during build time. The problem is that[ some of our Linux CI environments have only OpenSSL 1.0.2](https://github.com/pytorch/pytorch/pull/56026) which is not compatible with Gloo TLS_TCP transport.

Also

[2021-04-22 20:42] seemethere commented on #704
Is there a package available for CentOS that has OpenSSL 1.1.1?

[2021-04-27 18:59] AWSNB commented on #679
@nSircombe @docularxu  - was there an update on this ?

[2021-04-28 15:40] nSircombe commented on #679
I don't have any benchmarking that I can share for the impact of `mcpu` etc.

However, I think it probably makes sense to split this into two: OpenBLAS with OpenMP; `mcpu`, `march`, `mtune` flags.

The issue with the compiler flags is more about consistency - at the moment the choices don't appear to be consistent through the build. A Neoverse-N1 tuned build would be desirable, but from a performa

[2021-05-04 12:31] nSircombe opened #758 "OpenBLAS OpenMP support AArch64 builds."
Currently, AArch64 builds rely on a single-threaded build of OpenBLAS, see: https://github.com/pytorch/builder/blob/8e799eb4708069db379dba20b1f324040f5e991e/build_aarch64_wheel.py#L182
Inclusion of OpenMP is marked as a `TODO`.

Enabling support should be a matter of adding the `USE_OPENMP=1` flat at https://github.com/pytorch/builder/blob/8e799eb4708069db379dba20b1f324040f5e991e/build_aarch64_whe

[2021-05-04 18:51] malfet commented on #758
@nSircombe last time I've tried enabling OpenMP support in OpenBLAS and linking statically, I run into `can not allocate LTS` runtime issue, but let me try again.

[2021-05-04 19:58] nSircombe commented on #758
Hi @malfet,
That's interesting, I have not hit that issue myself - I'd be very interested to know how you get on. If we can reproduce then I'm happy to dig a little deeper.

[2021-05-04 23:44] malfet commented on #758
Hi @nSircombe,
I was about to write, that I can not reproduce the problem, but the reason was that pretty simple: when I've enabled OpenMP in OpenBLAS, pytorch started to use Eigen instead. I use the following litmus test to check whether compilation with OpenBLAS was successful or not:
[code]

By the way, can you share a code snippet that triggers "Detect OpenMP Loop and this application may hang

[2021-05-10 16:27] nSircombe commented on #758
HI @malfet,

Your 'smoketest' works for me on my OpenMP-ed from-src build. I notice that the `torch.__config__` on the released whl shows `USE_EIGEN_FOR_BLAS=ON` - this is not the case for my from-builds source.

Yep, I'll tidy it up and add something here.

[2021-05-10 21:55] nSircombe commented on #758
Here's a reproducer for the "Detect OpenMP Loop and this application may hang." warning.

[code]

Running with anything other than `OMP_NUM_THREADS=1` with the 1.8.1 wheel produces the warning for me. Builds with an OpenMP enabled OpenBLAS do not.

[2021-05-13 20:30] AGSaidi commented on #758
@nSircombe what compiler is openblas being built with. Is it being built with `-moutline-atomics`? We certainly saw issues with OpenBLAS pthreads with ld/st exclusives staving threads.

[2021-05-14 07:30] nSircombe commented on #758
I've built with GCC 9.3 and 10.2, I'm not using `-moutline-atomics`.

[2021-05-20 19:35] seemethere opened #772 "Create backup tags for binary build images"
Now that we are building the binary build images within CI and pushing them within CI we should create an automatic backup tag of the image that we're building that's based on the commit sha and branch reference.

Example:

1. We build and push `pytorch/conda-builder:cpu`
2. We tag `pytorch/conda-builder:cpu` as both `pytorch/conda-builder:cpu-${GIT_BRANCH_NAME}` and `pytorch/conda-builder:cpu-${G

[2021-05-27 20:57] #772 closed

[2021-05-28 18:29] rgommers commented on #389
I think this can be closed, before the question was answered. Conda build setup could use improvements, but that's tracked elsewhere.

For a reusable conda recipe, use https://github.com/conda-forge/pytorch-cpu-feedstock (ignore the name, GPU works too now).

[2021-05-28 18:46] rgommers commented on #687
`cudnn` in conda-forge is up-to-date and is currently being maintained by NVIDIA: https://anaconda.org/conda-forge/cudnn. As is `cudatoolkit`: https://github.com/conda-forge/cudatoolkit-feedstock. As a result, the conda-forge CUDA 11.2 packages for PyTorch are only 630 MB: https://anaconda.org/conda-forge/pytorch/files.

Given how much better `conda-forge` is maintained than `defaults`, and that i

[2021-05-31 13:57] mattip commented on #670
Copying selected comments from pypa/manylinux#1012, which discusses the fact that `manylinux_2_24` is based on Ubuntu, which does not recompile newer gcc versions for the `libstdc++` needed for `manylinux_2_24` compliance:

------------------------------

------------------------

Bottom line: in order to use the `manylinux_2_24` standard for wheels (which would enable using `CXX11_ABI`), someone

[2021-06-01 14:21] rgommers commented on #670
To add to this:
- currently we still have `manylinux1` wheels - that means `glibc` 2.5 (2006)
- upgrading to `manylinux2014` is much easier - that would be `glibc` 2.17 (2012)
- `manylinux_2_24` gives `glibc` 2.24 (2016)

@mattip you said 2.5 -> 2.17 was much less interesting than 2.17 -> 2.24. Can you explain why that is? Newer is better, but getting rid of `manylinux1` would also be interesting

[2021-06-01 14:51] mattip commented on #670
CentOS7, which is the base distro for `manylinux2014`, is the reason pytorch cannot use CXX11_ABI. Moving to `manylinux2014` is easy and makes sense since the older distros are EOL, but I am not sure what the tangible benefits are for pytorch.

For a nice summary of glibc versions vs. distros, along with EOL dates, there is https://github.com/mayeut/pep600_compliance

[2021-06-02 04:20] snnn commented on #670
CentOS 7 is old but is not EOL. It will be supported till June 30th, 2024. It's just it will not have new features and will not add support for new hardware. But it is not a problem for build pipelines. Usually we run it in docker so it doesn't matter if its kernel can support the latest CPU.  And for release managers, we should always target the oldest distro as possible as we can.

But if PyTorc

[2021-06-04 13:46] malfet commented on #758
Looks like TLS problem was fixed in OpenBLAS 0.3.15, so will try to enable the compilation OpenMP enabled OpenBLAS for 1.9.0 see https://github.com/pytorch/pytorch/pull/59428 and appropriate builder change

[2021-06-04 20:14] rgommers commented on #670
@malfet's feedback was: let's upgrade to `manylinux2014` for now - CentOS 7 is still around, so let's do that first. `manylinux1` to `manylinux2014` upgrade is valuable.

[2021-06-04 20:57] snnn commented on #670
I have one additional comment: if pytorch decided to build manylinux2014, then you need to replace the GCC from 9.x to 8.x , as long as you still need to support CUDA 10.2.

[2021-06-07 16:07] nSircombe commented on #758
Hi @malfet,
How did you get on with the +OpenMP build following this change?
Does the resulting build pickup OpenBLAS as expected (and does not show `USE_EIGEN_FOR_BLAS=ON` in the config?)

[2021-06-08 15:47] mattip commented on #670
@malfet: is that "stop creating linux86_64 and create only manylinux2014 instead" or "add manylinux2014 wheels in addition to the linux86_64 wheels"

[2021-06-09 14:14] malfet commented on #758
@nSircombe I've already made changes to builder (by just adding USE_OPENMP) and 1.9.2-rc2 builds should be available from https://download.pytorch.org/whl/test/cpu/torch_test.html

[2021-06-09 14:23] nSircombe commented on #758
Great, thanks @malfet, I'll take the new whl for a spin and let you know how I get on.

[2021-06-10 07:13] nSircombe commented on #758
Hi @malfet,

I've installed the whl from that url (`pip install torch -f  https://download.pytorch.org/whl/test/cpu/torch_test.html`) but it looks like the whl has still picked up Eigen. `torch.__config__.show()` lists `USE_EIGEN_FOR_BLAS=ON`, and a simple check does not show torch using all the available threads (https://forums.developer.nvidia.com/t/pytorch-and-numpy-only-run-with-one-core/11043

[2021-06-11 19:29] malfet commented on #758
Hi @nSircombe,

Not sure how you've measured CPU utilization in the example you've referred to, I rely on `time` tool, which seem to show that torch.bmm is indeed parallelizable across cores:
[code]
user time is roughly 8x larger than real time(and torch.get_num_threads() returned 8), which means `torch.bmm` was running on all available cores. And `USE_EIGEN_FOR_BLAS=ON` in the config is a red her

[2021-06-16 14:51] nSircombe commented on #758
Hi @malfet

...that's a good point.

I was just eye-balling htop while running some simple tests.
When I look at the output from your simple example, I see it reporting the current number of threads, but I only see 8 active in htop, and the timing is consistent with 8 threads. Even if I explicitly `torch.set_num_threads(32)` for example:

[code]

[2021-06-18 00:31] seemethere opened #788 "Replace dropbox and google drive links with s3 links"
https://github.com/pytorch/builder/blob/71a2b9aaf0b4d56a2b6048b92ba71858f3717dbb/windows/internal/cuda_install.bat#L174-L182

We should replace these dependencies with S3 assets, @peterjc123 do you know what's hosted on these?

cc @mszhanyi

[2021-06-19 06:36] peterjc123 commented on #788
`NvToolsExt.7z` is a collection of DLLs for the NVTX (CUDA).

`gpu_driver_dlls.7z` contains DLLs that serves as GPU drivers, should not be needed anymore.

[2021-07-08 17:31] snadampal commented on #758
hi @malfet
I'm observing the same issue as @nSircombe pointed out for openmp thread count, I'm using https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
I see the user process time scaling linearly with every thread till ~8, and then it gets capped.
1.9.0 16
real	0m3.284s
user	0m26.842s
sys	0m0.213s

However, the nightly is pointing to **1.9.0**, is this the right version?

Thank you!

[2021-07-12 23:38] msaroufim opened #799 "Telemetry for all Pytorch repos"
Some improvements I'd like to make to https://github.com/pytorch/builder/blob/master/analytics/github_analyze.py

I want to get a raw dump of all emails that contributed to any Pytorch repo and the number of contributions. Once I have that as a csv, it's easy to generate a report using a Pivot table in Excel

So to do so easily I'd like to make the following changes
1. Make `now = datetime.now()`

[2021-07-17 14:20] snadampal commented on #758
hi @malfet
Are there 1.10.x nightly wheels available for aarch64 Linux? I would like to check the scaling behavior on the latest builds, as the issue is not observed on the local source builds.

Thank you!

[2021-07-30 07:43] nSircombe commented on #758
Hi, @malfet & @snadampal,

I've noticed there appear to be nightly builds of 1.10 for x86 and macosx_arm64 - but no linux_aarch64 builds - is there a problem with this build at present? I was also hoping to look at the thread-scaling issue with the latest nightly.
I've run the `build_aarch64_wheel.py`, dispatching to a variety of instances (t4g, c6g) to see if this has any impact on the number of

[2021-07-30 14:50] snadampal commented on #758
Hi @nSircombe
I have posted this PR to fix this CPU scaling issue on aarch64.
https://github.com/pytorch/builder/pull/818

Root cause:
While compiling OpenBLAS binary, if we don't explicitly define the max number of  threads, it will limit it to the number cores on the host, snippet from OpenBLAS/Makefile.system

[code]
So, if you are building the wheel on 8 core instance,  it will set  NUM_THREAD

[2021-07-30 15:36] nSircombe commented on #758
Ah! Good spot @snadampal. I'd tried builds restricting `OMP_NUM_THREADS` and saw no impact, but looking again, I'd missed that `ProcessorCount` returns the number of physical cores, so `NUM_CORES` would still have been set to all the available cores, not `OMP_NUM_THREADS`, which would explain a lot.

[2021-07-30 15:36] malfet commented on #758
@snadampal thank you very much for the PR, please sign https://code.facebook.com/cla and I'll merge your PR.
@nSircombe regarding  `cannot allocate memory in static TLS block` this is exactly the issue why I was hesitant to enable OpenMP  in OpenBLAS, as it allocates quite a lot of TLS storage in
https://github.com/xianyi/OpenBLAS/blob/1b6db3dbba672b4f8af935bd43a1ff6cff4d20b7/driver/level2/gemv_th

[2021-07-30 16:19] nSircombe commented on #758
Yes, I remember you mentioned it before.
This is the first time I've encountered it though, I'd not seen it when building locally, only now, trying to build 1.10 using  the `build_aarch64_wheel.py` script on t4g and c6g.

[2021-07-30 23:18] #530 closed

[2021-08-15 00:55] snadampal commented on #758
@nSircombe, @malfet ,
I hit the `cannot allocate memory in static TLS block` issue from libtorch_cpu.so today, even while I'm building from sources locally (not with the build script). I workaround this by preloading the library.
export LD_PRELOAD=path/to/libtorch_cpu.so

btw, I have seen the TLS block memory error even without openmp backend for OpenBLAS.

[2021-08-15 00:58] malfet commented on #758
@snadampal can you please share a bit more details about OS, python as well as master commit sha sum

[2021-08-15 01:28] snadampal commented on #758
@malfet , here are my setup details
OS -> Ubuntu20.04
Python ->3.8
Pytorch --> commit --> bd9fad25c2646707c2a0fe8601bbd362610d0d9d
OpenBLAS ->0.3.15

[2021-08-17 19:28] zhouzhuojie opened #833 "Add builder integration tests that test the nightly build so that we can catch errors early"
Related to issue https://github.com/pytorch/pytorch/issues/62754

We'd like to investigate how to better test builder PRs when it's only used in nightly builds.

[2021-09-02 03:51] mszhanyi commented on #788
Today, [one nightly CI workflow](https://app.circleci.com/pipelines/github/pytorch/pytorch/374608/workflows/5810edd3-4785-4ad7-ab25-b7e53c976c84/jobs/15798967) is broken due to failed to downloading the gpu_driver_dlls.zip.
error
![image](https://user-images.githubusercontent.com/16190118/131778998-54f67014-f4f4-44b6-898a-0758526272ee.png)

success
![image](https://user-images.githubusercontent.co

[2021-09-02 03:55] mszhanyi commented on #788
I tested that gpu_driver_dlls is only needed for cu102
https://github.com/pytorch/vision/pull/4058#discussion_r661956022

[2021-09-02 13:08] peterjc123 commented on #788
@mszhanyi Why we do need them?

[2021-09-08 05:32] #788 closed

[2021-09-21 19:07] malfet commented on #833
Let's start small, by say integrating [binary_linux_manywheel_3_8m_cpu_devtoolset7_nightly_build](https://app.circleci.com/pipelines/github/pytorch/pytorch/383040/workflows/8527ecfe-b2ba-4086-9b76-87f0a0eb7b52/jobs/16120595)

[2021-09-27 21:08] langong347 commented on #833
#860

[2021-10-19 03:17] langong347 opened #865 "Trigger CI build for pytorch/pytorch in pytorch/builder via repository_dispatch"
This is the first step to synchronize and consolidate pytorch repository builds in the builder repo:
- `pytorch/pytorch` will send a `repository_dispatch` event to `pytorch/builder` through a `POST` request
- `pytorch/builder` will listen for the repository dispatch event to (reverse) trigger CI of `pytorch/pytorch`.

More details about `repository_dispatch` can be found [here](https://docs.github

[2021-10-19 03:33] langong347 opened #866 "Replicate binary linux builds of pytorch/pytorch in pytorch/builder"
Enable running binary builds of `pytorch/pytorch` inside `pytorch/builder`. Resolving this issue will solve two problems:
- Run CI in situ for changes made to `pytorch/builder` vs. the existing way of sending a test PR to `pytorch/pytorch` which clones changes from `pytorch/builder`
- Run CI ex situ for changes made to `pytorch/pytorch` (this may seem trivial at this point but it is a preparation

[2021-10-19 17:16] langong347 commented on #865
Regarding inter-repository dispatch:
This is to have an e2e CI build for strongly connected pytorch libraries to early detect error due to changes in one of them. Using `repository_dispatch` or similar idea is to link the builds together similar to what we have in a mono-repo.

On the standardization/templating part initially it's hard to create a standard spec for `pytorch/pytorch` as it has been

[2021-10-20 08:17] Timangar opened #867 "Building Libtorch via an IDE on Windows 10: Adding -INCLUDE:?warp_size@cuda@at@@YAHXZ to the linker flags raises unresolved external symbol error."
I built libtorch "libtorch-win-shared-with-deps-debug-1.9.1+cu111" in Visual Studio.

The build runs fine on CPU, but when I try to link against torch_cuda.dll by adding -INCLUDE:?warp_size@cuda@at@@YAHXZ to the linker flags, I get the error:

I include all *.dll files from the  libtorch.lib folder, including torch_cuda.dll, torch_cuda_cpp.dll and torch_cuda_cu.dll. As I said, the build runs as ex

[2021-10-20 22:00] orionr commented on #865
@zhouzhuojie I think you had some thoughts about this in that we could build this system out and then incrementally use for GHA on new repos (torchonnx, for example) as well as migrating existing domain libraries over time

[2021-10-25 20:14] langong347 opened #873 "Add CircleCI SHA1 to builder checkout"
To enable checkout of the commit under testing instead of the default branch in `.circleci/scripts/binary_checkout.sh`

[2021-10-27 15:12] #873 closed, assigned to langong347

[2021-11-01 21:17] langong347 opened #880 "Standardize GHA binary linux build of a domain lib"
Scope
- Binary linux build

This should solve the problems below:
- Create a reusable CI template for domain libs
- Currently each domain lib has its own copy of build scripts creating a maintenance problem

Execution strategy:
- Pick a candidate domain lib
- Extract the build scripts out of the domain lib and test
- Prototype the template based off `pytorch/pytorch` and test

[2021-11-01 21:50] #866 closed

[2021-11-14 10:25] veritas9872 opened #885 "Add support for CUDA 11.4.x & 11.5.x"
Hello. I would like to ask for new CUDA versions.
According to the documentation, adding a new minor version of CUDA is a relatively simple matter.
As CUDA 11.4 has been released some time ago and 11.5 has just been released, I think that adding them may be beneficial.
Thank you in advance! 😀

[2021-12-01 21:29] atalman opened #901 "Eliminate manual step (docker repo creation) for manylinux-cuda workflow for new CUDA"
Currently we have a manual step to release cuda, we have to manually create following docker repo and give bots read and write permission to this repo.

This is an example of repo we create:
https://hub.docker.com/r/pytorch/manylinux-cuda115

We want to either automate this step (repo creation)

Or host all manylinux cuda images similar to the following nvidia repo:
https://hub.docker.com/r/nvidia

[2021-12-21 16:19] Lyken17 opened #910 "manywheel/build_docker.sh failed to execute"
Hi there,

It seems that the `manywheel/build_docker.sh` failed to execute currently. On Github Action, the build shows error https://github.com/pytorch/builder/actions/workflows/build-pytorch-wheels.yml

and on my local workstation, the build shows
[code]

Looks like a bug with centos.

[2022-01-18 16:58] a-aitken opened #930 "manylinux wheel has incorrect hash for METADATA file"
The hash in `torch-1.10.1.dist-info/RECORD` for the file `torch-1.10.1.dist-info/METADATA` doesn't match that of the actual file and so `wheel3 unpack torch-1.10.1-cp39-cp39-manylinux1_x86_64.whl` fails with:

[code]

I've also tried on 1.9.0 and get the same.

The hash is correct in the OSX wheel. For 1.9.0, the content of the `METADATA` file is exactly the same in both OSX and manylinux wheels (

[2022-01-18 17:00] a-aitken commented on #930
This relates to https://github.com/pytorch/pytorch/issues/2596 (which fixed a previous issue with bad hashes by introducing manual recalculation of the hashes before zipping the wheel file back up after modification.

[2022-02-22 19:48] ydaiming opened #969 "Potential Typo in builder"
Should this be `MANY_LINUX_VERSION` instead of `MANY_LINUX_VERSON`?
https://github.com/pytorch/builder/blob/3e6551ca3b205d17fa9570e747c87fdf8df1449c/manywheel/build_docker.sh#L56

[2022-02-24 12:53] mszhanyi opened #973 "There will be a regression in PR 950"
#950  will trigger an exception at the very beginning of the windows conda build
[code]
https://github.com/pytorch/pytorch/runs/5313907799?check_suite_focus=true#step:10:249

It could be fixed by https://github.com/mszhanyi/builder/blob/bb6d651214c92c4e70a581ed6327fed04cc5f112/conda/build_pytorch.sh#L165

I don't know the exact background of this PR.
Please take a look.  @seemethere

[2022-02-25 13:13] qhaas commented on #969
Noticed this last night, `MANY_LINUX_VERSON` appears only once in this entire repo, almost certainly a typo and they meant `MANY_LINUX_VERSION`

[2022-02-25 21:34] atalman opened #978 "Cleanup old Cuda versions from builder project"
This Issue is Related to the following issue: [Stop CUDA-11.1 binary builds/tests in CI #73377](https://github.com/pytorch/pytorch/issues/73377)

We've migrated to CUDA-11.3 as default toolkit in 1.9, it's time to stop builds (especially considering forward-compatibility guarantee across CUDA-11.x drivers)

Hence we are removing CUDA 11.1 support. We should also cleanup old cuda related code from

[2022-02-28 00:51] qhaas opened #980 "BASE_CUDA_VERSION missing in cuda_final stage of Dockerfile"
Unlike other stages in the multi-stage Dockerfile (e.g. [cpu_final stage](https://github.com/pytorch/builder/blob/main/manywheel/Dockerfile_2014#L112)), the [cuda_final stage](https://github.com/pytorch/builder/blob/main/manywheel/Dockerfile_2014#L127)'s `BASE_CUDA_VERSION` variable lacks a re-declaration and thus falls out of the [ARG's scope](https://docs.docker.com/engine/reference/builder/#sco

[2022-02-28 01:01] qhaas commented on #980
Update, the above example displays `10.2` in `cuda_final` stage when one uses the following build command:  `DOCKER_BUILDKIT=1 docker build -t test:test --target cuda_final -f Dockerfile .`, suspect this is a podman inconsistency.

[2022-02-28 01:01] #980 closed

[2022-02-28 20:03] seemethere commented on #833
Closing since we intend to track this in a different subproject

[2022-02-28 20:03] #833 closed

[2022-02-28 20:23] janeyx99 commented on #880
Closing, cuz duplicate of https://github.com/pytorch/pytorch/issues/66656

[2022-02-28 20:23] #880 closed

[2022-03-01 16:03] #978 closed

[2022-03-02 22:37] seemethere commented on #973
This should resolve https://github.com/pytorch/builder/pull/983

[2022-03-02 22:38] #973 closed

[2022-03-11 15:32] atalman opened #988 "Automate Android maven release"
Based on the following runbook : https://docs.google.com/document/d/1arTI6cPFTJCy7gvtJxiFOjgDDcp6Elkm08EjCUn2jIY/edit

And Android nightly builds, we should automate the Android release to produce binaries and test them.

This way we can unsure the binaries are build correctly.

[2022-03-11 15:37] atalman opened #989 "Automate cocoa-pod IOS release"
Based on the following document we want to make sure we can produce complete release build:
https://fb.quip.com/KhfOA9XWQkkQ

[2022-03-26 17:44] qhaas commented on #670
From looking at [build_all_docker.sh](https://github.com/pytorch/builder/blob/main/manywheel/build_all_docker.sh#L8), one would think that `manylinux2014` is now the default, but the other one appears to be being built due to a possible `MANYLINUX_VERSION` vs `MANY_LINUX_VERSION` variable naming issue, per [update 2 in this other issue](https://github.com/pytorch/builder/issues/969#issuecomment-10

[2022-03-26 19:49] mattip commented on #670
Yes, that does look like a typo. Are the wheels being built? xref #979

[2022-03-27 14:30] qhaas commented on #670
Honestly, I'm having trouble building the wheels inside either container 'the right way' because I'm not sure which scripts meta uses to build them inside the container.  The [documentation](https://github.com/pytorch/builder/blob/main/manywheel/README.md) only points to how to build the docker container image.

Running `manywheel/build.sh` results in an error complaining the gcc version in the [o

[2022-03-27 15:07] qhaas opened #1006 "Remove okay repo from EL7 docker images"
The third-party okay repo (apparently) once used to deploy `ninja-build` package to the [original manywheel docker image](https://github.com/pytorch/builder/blob/main/manywheel/Dockerfile#L143) and [2014 manywheel docker image](https://github.com/pytorch/builder/blob/main/manywheel/Dockerfile_2014#L125) is no longer needed since the [epel7 package `ninja-build` is available and can now be called b

[2022-03-28 07:18] rgommers commented on #670
This was definitely "drop `manylinux1`, upgrade existing jobs to `manylinux2014`".

[2022-03-31 13:37] atalman opened #1009 "M1 workers are available however not getting assigned to workflow"
When trying to use macos m1 workers,  I see that they are not picking up:

Following Runners are available but idling:

i-0c79eb93109020f30
Organization
self-hosted
macOS
ARM64
macos-m1-11
Runner group: Default
Idle
i-094da233f1820a8db
Organization
self-hosted
macOS
ARM64
macos-m1-11
Runner group: Default
Idle
i-0cfedc4a23459f38f
Organization
self-hosted
macOS
ARM64
macos-m1-11
Runner group: Defau

[2022-03-31 16:20] zengk95 opened #1010 "Pin CMake to be consistent with Pytorch"
Addressing https://github.com/pytorch/pytorch/pull/74954 followup

[2022-04-06 14:18] #1010 closed

[2022-04-12 20:41] #203 closed

[2022-04-25 23:34] atalman commented on #1009
continue investigating this issue I see that daemon is running on the host and it does communicate with github. Log attached:
[Runner_20220425-222940-utc.log](https://github.com/pytorch/builder/files/8558618/Runner_20220425-222940-utc.log)

[2022-05-02 15:39] atalman opened #1025 "Check if CUDA GPG keys needs to be updated"
Nvidia is Updating the CUDA Linux GPG Repository Key
Ref: https://developer.nvidia.com/blog/updating-the-cuda-linux-gpg-repository-key/

To best ensure the security and reliability of our RPM and Debian package repositories, NVIDIA is updating and rotating the signing keys used by the apt, dnf/yum, and zypper package managers beginning April 27, 2022.

If you don’t update your repository signing k

[2022-05-02 23:00] atalman opened #1026 "Decomission CUDA 10.2 support"
We keep cuda 10.2 only for pypi releases https://pypi.org/project/torch/#files, which has 850mb size limit.
Here is the [pypi support ticket](https://github.com/pypa/pypi-support/issues/950) we opened last year to increase the limit.
Here is related discussion [Issue 56055](https://github.com/pytorch/pytorch/issues/56055)

We should discontinue cuda 10. It will likely require pypi wheel without cu

[2022-05-04 16:07] atalman commented on #1026
We should proceed with the following schedule on dropping support for 10.2 :
* Release 1.12 - announce
* Release 1.13 - actual drop

[2022-05-04 19:39] malfet commented on #1009
I were able to compile and install simple workflow using my personal M1, see https://github.com/malfet/deleteme/runs/6295939723?check_suite_focus=true#step:3:7
Will try to replicate this behavior on our cloud instances

[2022-05-05 01:56] malfet commented on #1009
And I can successfully build torchvision natively on M1 (but can't upload it yet), see WIP https://github.com/pytorch/vision/pull/5948 / https://github.com/pytorch/vision/runs/6299765936?check_suite_focus=true

[2022-05-18 16:20] sberryman commented on #1025
@atalman - I ran into this issue using `pytorch/pytorch:1.11.0-cuda11.3-cudnn8-devel` as my base image.

Error:
[code]

Here is the post from nvidia:
https://forums.developer.nvidia.com/t/notice-cuda-linux-repository-key-rotation/212772

[2022-05-31 22:24] atalman commented on #1025
HI @sberryman Could you please provide a little more context of what you are trying to do. What command you execute starting with docker pull ?

[2022-06-01 15:39] atalman opened #1042 "Pytorch CUDA Upgrade to 11.7 and Decommsion 11.3 and 10.2"
This issue will track the current progress on upgrading CUDA 11.7 support, and decommission legacy CUDA version

**Pre CUDA 11.7 Upgrade**

This issue is required to move CUDA 11.6 to Stable version. And we want to address it before CUDA 11.7.

- [ ] https://github.com/pytorch/pytorch/issues/69691 Conda-forge dependency for 11.6 for cudatoolkit. In short Since CUDA 11.5, cudatoolkit is only availa

[2022-06-01 23:03] sberryman commented on #1025
Sure

[code]

Build:
`docker build -t testimage:latest -f Dockerfile .`

Output:
[code]

[2022-06-03 06:36] ptrblck commented on #1042
For 11.7:
Created two PRs to add the docker and magma builds.

CC @crcrpar
Could you check the launch bounds for `torch.mode` in 11.7, please?

CC @IvanYashchuk
Adding you for potentially needed MAGMA fixes

[2022-06-04 06:54] junjihashimoto opened #1050 "Add libtorch supporting M1 MAC(aarch64)"
Hi, could you release libtorch for M1 MAC?
In pytorch.org, wheel supports  M1 MAC, but libtorch doesn't.

[2022-06-06 14:31] atalman commented on #1026
One solution of dropping CUDA 10.2 that was discussed with @ptrblck is to link with CUDA dynamically rather then statically as done now. Then  we download CUDA runtime on the install machine similar to this: https://docs.nvidia.com/cuda/cuda-quick-start-guide/index.html#pip-wheels-installation-linux

@malfet @ngimel @ezyang  Please let me know if we have anything against us trying to implement dyn

[2022-06-27 05:43] powderluv commented on #1050
I have a WIP patch I am testing for this. Will upload once I can test [x86_64 | arm64] libtorch-[static|shared}

[2022-06-27 05:45] powderluv opened #1067 "libtorch static builds run out of builder system memory"
We re-enabled true static builds

But it fails with error 137:

https://github.com/pytorch/pytorch/runs/7059088258?check_suite_focus=true

Error 137 says:

https://support.circleci.com/hc/en-us/articles/115014359648-Exit-code-137-Out-of-memory#:~:text=This%20is%20a%20Linux%20error,memory%2C%20your%20build%20will%20fail.

which indicates the linking OOMs the docker container.  Should we disable tes

[2022-06-27 05:47] powderluv commented on #1067
@malfet FYI.  Is there a way to increase system RAM ? Or should I send a PR to disable tests on static builds ?

[2022-06-29 06:25] powderluv commented on #1050
https://github.com/pytorch/builder/pull/1078 Still in WIP. Need to test out cross-compile shared builds. But others work and you can run the patch locally if you want your own .zip for m1

[2022-06-29 06:27] powderluv commented on #1009
Would these runners be available for libtorch-macos m1 ? I have a WIP to cross-compile for M1 https://github.com/pytorch/builder/pull/1078 but it would be unnecessary if we have native M1 runners.

[2022-07-11 22:31] atalman opened #1084 "Refactor code around usage of GLIBCXX_USE_CXX11_ABI flag"
Refactor code around usage of GLIBCXX_USE_CXX11_ABI flag

Follow up after  to https://github.com/pytorch/pytorch/pull/81058
Need to reafactor the code around how we handle GLIBCXX_USE_CXX11_ABI flag
cc @malfet  please provide details

[2022-08-09 17:39] atalman opened #1097 "Performance testing for the release"
Problems details
We have frequent performance regressions during the releases. Late perf testing during the release. Missing visibility into performance regressions during the release. Following are the performance [results](https://docs.google.com/spreadsheets/d/1z1HWhixxErVTNYQ5rVQgXyy8EggiW0fj3tcgRMLxwrM/edit#gid=900791608) for releases 1.9, 1.10, 1.11 and 1.12. Following issues are identified

[2022-08-09 17:44] atalman opened #1098 "Create GitHub Action workflow pytorch/benchmark using linux.4xlarge machines"

[2022-08-09 17:52] atalman opened #1099 "Determine the scope of the of the tests"

[2022-08-09 17:53] atalman opened #1100 "Surface results on the HUD"

[2022-08-12 18:59] izaitsevfb opened #1103 "S3_management: add the ability to update existing files on S3"
## Context

https://github.com/pytorch/pytorch/issues/75703
https://github.com/pytorch/builder/pull/1096

The proposed mechanism of caching files on S3 via managed configuration currently lacks the ability to update the existing files.
The current workaround is to upload new files with different keys or to manually delete old files from the S3 bucket.

## Proposed solution

@huydhn [suggested an i

[2022-08-12 22:51] huydhn commented on #1103
Btw, you could try to send a HEAD request to S3 to see which metadata is returned.  I couldn't remember for sure if there is a way to get hash (I have no idea why they don't just include it).  But the file size and timestamp are there.  Here is my try with curl:

[code]

This might complicate the setup a bit.

[2022-08-16 20:11] atalman opened #1106 "Evaluate CUDA 11.6 readiness"
CUDA 11.6 Runs in our CI currently. It is part of 1.12 release as experimental version.

Google Collab can support Cuda 11.6 :
https://github.com/googlecolab/colabtools/issues/2999

@malfet Could you please provide details what needs to be done to complete the loop for CUDA 11.6

[2022-08-19 16:41] jeanschmidt opened #1108 "Enable Organization Runners"

[2022-08-23 19:31] snadampal opened #1109 "torch nightly builds are broken for aarch64 linux"
There are no aarch64_linux nightly wheels here:
https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html

However, I see the wheels are published for [PT1.12.1 release](https://pypi.org/project/torch/#files) on Aug 5th, so, the issue with the nightly builds might be with some infrastructure not the codebase.

[2022-08-23 23:35] malfet commented on #1109
Moving to pytorch/pytorch, but they are not broken, just missing (we do not have nightly pipeline setup for aarch64 builds at the momnet)

[2022-08-25 11:10] #1108 closed

[2022-09-05 06:45] Willian-Zhang commented on #1067
Bump this, we need this.

BTW, I was not able to find a guide for static building until landing on this issue. I am still jumping between PR code changes and CD pipelines.

[2022-09-06 18:33] powderluv commented on #1067
Unless someone has internal CI access I don't think we can land this as an external PR.

[2022-09-06 21:26] atalman opened #1123 "Decommission CUDA 11.3"
As PyTorch Dev Infra developer I want to deprecate the Cuda 11.3 support and builds for CI/CD.
We consider  performing following actions:

- Removing Pull and trunk jobs: https://hud.pytorch.org/hud/pytorch/pytorch/master/1?per_page=50&name_filter=11.3
- Remove Binary builds for 11_3: https://hud.pytorch.org/hud/pytorch/pytorch/master/1?per_page=50&name_filter=11_3
- Remove nightly builds for 11_3

[2022-09-07 03:45] Willian-Zhang commented on #1067
and we might need circle ci team on this also. ([related thread](https://discuss.circleci.com/t/increase-4g-memory-limit/9070/5))
Just curious, do you know if PyTorch is using an paid plan?

[2022-09-07 17:49] seemethere commented on #1123
Option 2 seems the best from my POV

[2022-09-08 21:31] malfet commented on #1123
Option 2 will create problem as 11.3 compiler is super slow. I propose we just kill 11.3 and see the increases in number of cuda-related regressions when importing changes. If it spikes up, then we should spin 11.4 CI-only builds, to mimic internal behaviour.

[2022-09-08 21:33] atalman commented on #1123
I am ok with killing 11.3. However spinning 11.4 CI only builds seems like a  project on its own. We usually spend around 2-3 weeks upgrading CUDA: https://github.com/pytorch/builder/blob/main/CUDA_UPGRADE_GUIDE.MD
And since release is so close. I am afraid we don't have so much time on upgrading to 11.4 for these two builds

[2022-09-09 16:22] atalman opened #1132 "Create WHL package for 11.7 that pulls cuda and cudnn pypi wheels"

[2022-09-09 16:22] atalman opened #1133 "Move CUDA 11.7 to cudnn 8.5"

[2022-09-09 16:24] atalman opened #1134 "Change getting started page for nightly 11.3/11.6 to 11.6/11.7"

[2022-09-12 12:29] #1133 closed

[2022-09-21 06:56] nSircombe commented on #679
Closing this as I think the outstanding issues are resolved by:
https://github.com/pytorch/builder/commit/fae8f0f3cfe0f9ac24a357bdffa93fb29fd7bafe
...and...
https://github.com/pytorch/builder/pull/818

[2022-09-30 14:30] atalman opened #1154 "Deprecate CUDA 10.2 from nightlies and CI/CD"

[2022-09-30 14:30] #1154 closed, assigned to nobody

[2022-09-30 14:31] #1132 closed

[2022-10-25 17:37] huydhn opened #1174 "Support testing Docker images in PR"
Here is how a new builder Docker image is released at the moment:

1. A PR is submitted, i.e. https://github.com/pytorch/builder/pull/1169
2. https://github.com/pytorch/builder/blob/main/.github/workflows/build-manywheel-images.yml is triggered to build the new Docker image.  However, it won't pushed anything to https://hub.docker.com/r/pytorch for security reason (exposing the docker token), i.e.

[2022-10-25 20:56] huydhn commented on #1174
The problem in step 4 should be addressed by https://github.com/pytorch/builder/pull/1175 to not allow pushing to different branch other than `main` to go to prod Docker hub

[2022-10-25 21:04] seemethere commented on #1174
Perhaps we can use deployments for this, as well we should probably stop using `latest` in general since it's dangerous to push new updates for these images since so many things rely on them now

[2022-11-03 20:49] roywei opened #1185 "New dependencies on nvidia channel brings a lot of unnecessary packages"
Hi,

Since the release of 1.13.0, we noticed that there is additional channel dependency on nvidia, using the official installation command
[code]
will bring the following packages, but I think only cuda and mkl is needed. Is there a way to avoid downloading so much packages? this is a concern for docker files, docker image size will increase a lot for PyTorch 1.13.
cuda and mkl are already availa

[2022-11-03 21:35] roywei commented on #1185
original installation command using conda-forge will bring lesser dependencies
[code]

[code]

[2022-11-08 19:15] therc commented on #1185
@roywei your second comment shows cudatoolkit in the command, but it's not in the output, for some reason.

We are seeing similar issues.

PT 1.12.1 seems to pull in cudatoolkit (without a dash), which is a fat package (it's in Forge, but also in Nvidia's repo, where it hasn't been updated in five months — abandoned?). Any attempts to depend manually/explicitly on `cuda-*` packages from Nvidia res

[2022-11-10 16:15] atalman commented on #1134
resolved

[2022-11-10 16:15] #1134 closed

[2022-11-10 16:16] atalman commented on #1106
Resolved

[2022-11-10 16:16] #1106 closed

[2022-11-10 17:17] #1123 closed

[2022-11-10 18:33] therc commented on #1185
@atalman would it be a crazy idea to provide multiple variants of pytorch-cuda? There's no point in having stuff like cuda-visual-tools in server-side environments, e.g. CI or Docker images. Maybe pytorch-cuda-minimal, pytorch-cuda-runtime, etc.

To use our case as an example, we would have two different subsets that matter to us: one with just cuda-runtime and one with cuda-libraries-dev+cuda-com

[2022-11-10 20:24] therc commented on #1185
Or, alternatively, provide a pytorch-cuda mutex metapackage with no dependencies at all, for those users that are able to provide them on their own?

[2022-11-10 20:46] atalman commented on #1185
@therc The issue comes from the fact that official cuda[11.7.1] package pulls all these subpackages. Will have to remove dependency on the cuda[11.7.1] and add only small ammount of cuda pakcages we need.

[2022-11-10 20:58] therc commented on #1185
@atalman that makes sense, thanks.

There's also other weird stuff, like a random mix of 11.7/11.8 versions, plus cccl getting installed twice:
[code]

but that's, I assume, an issue with Nvidia's packaging. (BTW, there's also a cuda-cudaArt-dev at line 28 in the meta.yaml)